.hero {
    display: flex;
    justify-content: center;
}

.fugly {
    position: relative;
    margin: 20vh  auto;
    padding: 1.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: #ffc0cb;
}

.search-by {
    width: 12.5rem;
}

.search-string {
    width: 30rem;
}

.find-cocktails {
    width: 10rem;
}

.form-container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}